<div class="legend-container">
  <div class="leyend">
    <div class="item">
      <div class="title person_color">Persons</div>
      <div class="reference person_color">
        <div class="description person_color">+</div>
        <div class="color person"></div>
        <div class="description person_color">-</div>
      </div>
    </div>
    <div class="item">
      <div class="title">Attributes</div>
      <div class="reference attr_color">
        <div class="description">+</div>
        <div class="color attribute"></div>
        <div class="description">-</div>
      </div>
    </div>
    <div class="item">
      <div class="title pref_color">Preferences</div>
      <div class="reference pref_color">
        <div class="description pref_color">+</div>
        <div class="color preference"></div>
        <div class="description pref_color">-</div>
      </div>
    </div>
  </div>
</div>
