<div class="container">
  <div class="row">
    <div class="col">
      <div class="item-title">{{ selectedPerson.name + ' Preferences' }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z7">
        <table mat-table role="table" [dataSource]="selectedSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute</th>
            <td mat-cell *matCellDef="let attribute">{{ attribute.name | titlecase }}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let preference">
              <input type="number" [(ngModel)]="preference.value" (ngModelChange)="updatePreference(preference)" />
            </td>
          </ng-container>
          <ng-container matColumnDef="sign">
            <th mat-header-cell *matHeaderCellDef>Sign</th>
            <td mat-cell *matCellDef="let preference">
              <mat-select [(ngModel)]="preference.sign" (ngModelChange)="updatePreference(preference)" panelClass="example-panel">
                <mat-option *ngFor="let sign of signs" [value]="sign">{{ sign }}</mat-option>
              </mat-select>
            </td>
          </ng-container>

          <tr mat-header-row style="background: #11161f" *matHeaderRowDef="preferenceColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: preferenceColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
